.card {
  height: 600px;
  width: 700px;
}

.works,
.works * {
  box-sizing: content-box;
  height: 600px;
  width: 1000px;
}
.outer,
.outer * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.formfields {
  width: 700px;
  overflow-y: scroll;
}
.inner,
*inner * {
  width: 900px;
  /* width: 100%;
  height: 100%; */

  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.form-select {
  margin-top: 10px;
}
