.btn-box {
  margin-left: 225px;
  width: 200px;
  margin-top: 1px;
  display: inline-block;
}
.skillcss {
  width: 300px;
  height: 30px;
}
.ml10 {
  width: 130px;
  height: 30px;
  margin-top: 8px;
  /* margin-left: 180px; */
}
.mr10 {
  width: 70px;
  height: 32px;
  margin-left: 90px;
  margin-top: 10px;
}
.box {
  margin-bottom: 15px;
}
.form-rating {
  margin-top: 5px;
}
